<div class="main">
  <div class="header">
    <nav class="top-nav">
      <h1>{{title}}</h1>
      <ul class="top-nav-items">
        <li>Home</li>
        <li>Create Project</li>
        <li>Admin</li>
      </ul>
    </nav>
  </div>

  <div class="side">
    <nav class="side-nav">
      <ul class="side-nav-items">
        <li>All Projects</li>
        <li>Red Projects</li>
        <li>Yellow Projects</li>
        <li>Green Projects</li>
        <li>Create Project</li>
        <li>Admin</li>
      </ul>
    </nav>
  </div>

  <app-table></app-table>
</div>