<div class="main">
  <div class="header">
    <nav class="top-nav">
      <h1>{{title}}</h1>
      <ul class="top-nav-items">
        <li>Home</li>
        <li>Create Project</li>
        <li>Admin</li>
      </ul>
    </nav>
  </div>

  <div class="side">
    <nav class="side-nav">
      <ul class="side-nav-items">
        <li>
          <a [routerLink]="['/table', '']">
            All Projects
          </a>
        </li>
        <li>
          <a [routerLink]="['/table', 'R']">
            Red Projects
          </a>
        </li>
        <li>
          <a [routerLink]="['/table', 'Y']">
            Yellow Projects
          </a>
        </li>
        <li>
          <a [routerLink]="['/table', 'G']">
            Green Projects
          </a>
        </li>
        <li>
          <a>
            Create Project
          </a>
        </li>
        <li>
          <a>
            Admin
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <router-outlet></router-outlet>
</div>
