:host {
    width: 100vw;
}

.main {
    display: grid;
    grid-template-rows: auto 150px auto;
    grid-template-columns: 200px auto;
}

.header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.side {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

h1 {
    margin-left: 20px;
    text-transform: uppercase;
}

nav {
    background-color: #444444;
    color: white; 
}

ul {
    list-style: none;
    padding-left: 0;
    display: flex;
}

li {
    margin-left: 20px;
}

.top-nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.top-nav-items {
    margin-right: 20px;
}

.top-nav-items li {
    margin-right: 30px;
}

.side-nav {
    height: 100%;
    padding: 10px 0;
    width: 200px;
}

.side-nav-items {
    flex-direction: column; 
}

.side-nav-items li {
    margin-top: 50px;

}

.side-nav-items a {
    color: white;
    text-decoration: none;
}

.side-nav-items a:visited {
    color: white;
}