<div class="btn-wrapper">
    <button 
        class="project-btn all-btn" 
        [routerLink]="['/table/', 'all']">
        <i class="fa-solid fa-folder-open"></i>
        <div class="title-wrapper">
            <p class="number">{{projectCount}}</p>
            <p class="title">All Projects</p>
        </div>
    </button>

    <button 
        class="project-btn red-btn" 
        [routerLink]="['/table', 'R']">
        <i class="fa-solid fa-triangle-exclamation"></i>
        <div class="title-wrapper">
            <p class="number">{{getCount('R')}}</p>
            <p class="title">Red Projects</p>
        </div>
    </button>

    <button 
        class="project-btn yellow-btn" 
        [routerLink]="['/table', 'Y']">
        <i class="fa-solid fa-circle-info"></i>
        <div class="title-wrapper">
            <p class="number">{{getCount('Y')}}</p>
            <p class="title">Yellow Projects</p>
        </div>
    </button>

    <button 
        class="project-btn green-btn"
        [routerLink]="['/table', 'G']">
        <i class="fa-solid fa-thumbs-up"></i>
        <div class="title-wrapper">
            <p class="number">{{getCount('G')}}</p>
            <p class="title">Green Projects</p>
        </div>
    </button>
</div>

<div class="table">
    <table>
        <h3>All Projects</h3>
        <tr class="heading-row">
            <th>Name</th>
            <th>Status</th>
            <th>Project Manager</th>
            <th>Percentage Complete</th>
            <th>Modified</th>
            <th>Edit</th>
        </tr>
        <tr *ngFor="let project of displayProjects">
            <td>{{project.projectName}}</td>
            <td>{{project.overallStatus}}</td>
            <td>{{project.projectManager}}</td>
            <td>{{project.percentageComplete}}</td>
            <td>{{project.modifiedDate}}</td>
            <td>
                <button>Edit</button>
            </td>
        </tr>
    </table>
</div>