.table {
    border: 1px solid #444444;
    margin: 0 20px 20px 20px;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

h3 {
    color: indigo;
    margin-top: 0;
    text-transform: uppercase;
    width: 100%;
}

tr {
    height: 40px;
}

.heading-row {
    text-align: left;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}
