@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

:host {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.btn-wrapper {
    align-items: center;
    display: flex;
    height: 150px;
    justify-content: space-evenly;
}

.project-btn {
    color: white;
    padding: 0 20px;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.fa-solid {
    font-size: 3rem;
}

.all-btn {
    background-color: indigo;
}

.red-btn {
    background-color: red;
}

.yellow-btn {
    background-color: #e1ad0f;
}

.green-btn {
    background-color: green;
}

.number {
    font-size: 2em;
    margin-bottom: 0;
}

.title-wrapper {
    margin-left: 20px;
    margin-bottom: 10px;
}

.title {
    text-transform: uppercase;
}

/* .table {
    border: 1px solid #444444;
    margin: 0 20px 20px 20px;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

h3 {
    color: indigo;
    margin-top: 0;
    text-transform: uppercase;
    width: 100%;
}

tr {
    height: 40px;
}

.heading-row {
    text-align: left;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}

.table button {
    color: black;
} */