<div class="btn-wrapper">
    <button 
        class="all-btn" 
        [routerLink]="['/table/']">
        <p class="number">{{projectCount}}</p>
        <p class="title">All Projects</p>
    </button>

    <button 
        class="red-btn" 
        [routerLink]="['/table', 'R']">
        <p class="number">{{getCount('R')}}</p>
        <p class="title">Red Projects</p>
    </button>

    <button 
        class="yellow-btn" 
        [routerLink]="['/table', 'Y']">
        <p class="number">{{getCount('Y')}}</p>
        <p class="title">Yellow Projects</p>
    </button>

    <button 
        class="green-btn"
        [routerLink]="['/table', 'G']">
        <p class="number">{{getCount('G')}}</p>
        <p class="title">Green Projects</p>
    </button>
</div>

<div class="table">
    <table>
        <h3>All Projects</h3>
        <tr class="heading-row">
            <th>Name</th>
            <th>Status</th>
            <th>Project Manager</th>
            <th>Percentage Complete</th>
            <th>Modified</th>
            <th>Edit</th>
        </tr>
        <tr *ngFor="let project of displayProjects">
            <td>{{project.projectName}}</td>
            <td>{{project.overallStatus}}</td>
            <td>{{project.projectManager}}</td>
            <td>{{project.percentageComplete}}</td>
            <td>{{project.modifiedDate}}</td>
            <td>
                <button>Edit</button>
            </td>
        </tr>
    </table>
</div>