 <div class="btn-wrapper">
    <button class="all-btn">
        <p class="number">107</p>
        <p class="title">All Projects</p>
    </button>

    <button class="red-btn">
        <p class="number">18</p>
        <p class="title">Red Projects</p>
    </button>

    <button class="yellow-btn">
        <p class="number">48</p>
        <p class="title">Yellow Projects</p>
    </button>

    <button class="green-btn">
        <p class="number">41</p>
        <p class="title">Green Projects</p>
    </button>
</div>