<!--  <div class="btn-wrapper">
    <button class="all-btn" (click)="filter('')">
        <p class="number">107</p>
        <p class="title">All Projects</p>
    </button>

    <button class="red-btn" (click)="filter('R')">
        <p class="number">18</p>
        <p class="title">Red Projects</p>
    </button>

    <button class="yellow-btn" (click)="filter('Y')">
        <p class="number">48</p>
        <p class="title">Yellow Projects</p>
    </button>

    <button class="green-btn" (click)="filter('G')">
        <p class="number">41</p>
        <p class="title">Green Projects</p>
    </button>
</div> -->